<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Кому:</label>
        <div class="controls">
            <input type="email" placeholder="Email" ng-model="msg.to">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Тема:</label>
        <div class="controls">
            <input type="text" placeholder="Тема" ng-model="msg.topic">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Сообщение</label>
        <div class="controls">
            <textarea ng-model="msg.text">

            </textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" ng-click="sendMsg()">Send</button>
        </div>
    </div>
</form>